@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
}

h1,ul,p {
    margin: 0;
    padding: 0;
}

a, .header_link {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    background-color: black;
}

.header-container {
    display: flex;
    height: 80px;
    width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-end {
    justify-content: flex-end;
}

.spotify__svg {
    fill: white;
    width: 130px;
}

.menu_item {
    color: white;
    list-style: none;
    padding: 1rem 1rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.separator {
    width: 1px;
    height: 1rem;
    margin: 0px 1rem;
    background-color: white;
}

.header_menu {
    align-items: center;
}

.header_link:hover .menu_item {
    color: #3CE478
}

.footer-item:hover {
    color: #3CE478
}

.profile-container {
    justify-content: space-between;
}

.profile-container * {
    padding: 1rem 5px;
}

.profile-container:hover * {
    cursor: pointer;
    color: #3CE478
}

.main_container {
    position: relative;
    background-color: #2941AB;
    width: 100%;
    height: 886px;
}

.sub_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 800px;
    left: 50%;
    top: 260px;
    transform: translateX(-50%)
}

.main_title, .sub_title {
    padding-bottom: 40px;
}

.main_title {
    text-align: center;
    font-size: 76px;
    color: #1ed760;
    font-weight: 800;
}

.sub_title {
    text-align: center;
    color: #1ed760;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.web_player {
    background-color: #1ed760;
    text-align: center;
    padding: 15px 30px;
    border-radius: 99999px;
}

.web_player:hover {
    transform: scale(1.05);
    background-color: #2DE26D;
}

.web_player_text {
    color: #2941AB;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

footer {
    background-color: black;
    height: 530px;
    width: 100%;
    padding: 80px 0px 50px 0px;
}


.footer-nav {
    margin: 0 auto;
    height: 100%;
    width: 1170px;
}



.footer-title {
    color: #919496;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 16px 0;
}

footer li {
    color: white;
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding-top: 3px;
    padding-bottom: 15px;
}

.region {
    color: white;
}

.main {
    width: 70%;
}

.media {
    margin-left: auto;
}

.svg-item {
    background-color: #222326;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    padding: 0;
}

.ml {
    margin-left: 1rem;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.media-icon {
    background-repeat: no-repeat;
    background-color: white;
    width: 24px;
    height: 24px;
}

.instagram {
    background-image: url(img/instagram.svg);
}

.facebook {
    background-image: url(img/facebook.svg);
}

.twitter {
    background-image: url(img/twitter.svg);
}

.icon-container:hover .media-icon {
    background-color: #1ed760
}

.footer-grey-text {
    color: #919496;
    font-size: 12px;
    font-weight: 500;
}

.footer-grey-links:hover {
    color: #1ed760;
}

.region {
    margin-bottom: 15px;
}

.region > a > img {
    margin-right: 7px;
}

.region > a:hover .world-svg {
    color: #1ed760;
}

.first-container {
    height: 95%;
}

.pl-20 {
    margin-left: 20px;
}

@media screen and (max-width: 1200px){
    .footer-nav {
        width: 970px;
    }
    .header-container {
        width: 970px;
    }
}

@media screen and (max-width: 992px){
    .footer-nav {
        width: 90%;
    }

    footer {
        height: unset;
    }

    .header_menu {
        display: none;
    }

    .header-container {
        width: 500px;
    }

    .first-container {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
        width: 100%;
    }

    .media {
        margin-left: 0;
        margin: 120px 0 10px 0;
    }

    .util-links, .community, .company {
        margin: 50px 0 22px 0;
    }

    .svg-item {
        width: 45px;
        height: 45px;
    }
    .sub_container {
        width: 500px
    }

    .footer-grey-list {
        flex-wrap: wrap;
        margin-right: 1rem;
    }

    .footer-grey-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 620px) {
    .sub_container {
        width: 220px;
    }

    .main_title {
        font-size: 3rem;
    }

    .header-container {
        width: 280px;
    } 

    .footer-grey-text {
        margin-left: 0;
        margin-right: 20px;
    }

    .world-svg {
        margin-right: 0;
    }

    .copyright {
        margin-right: 0;
        min-width: 93px;
    }
}